.roulette-arrow {
    width: 3px;
    height: 104px;
    position: absolute;
    background: darkred;
    z-index: 1;
    left: 600px;
}
.roulette {
    width: 1000000px;
    position: relative;
}
.roulette-layer {
    overflow: hidden;

}
.roulette-image {
    /*border: 1px black;*/
    width: 150px;
    height: 100px;
    margin: 2px;
    float: left;
}
#roulette-remove {
    margin: 0.5em;
}

