.game-menu {
    position: relative;
    float: left;
    min-width: 700px;
    min-height: 200px;
    /*min-width: 63%;*/
    border-radius: 5px;
    margin: 0.5em;
    background: linear-gradient(to bottom, #666 0, #888 100%);
}
.game-menu-guest-warning {
    margin: 15px 0 5px 15px;
    padding: 0;
}
.game-menu-guest-warning h3 {
    margin: 0;
    padding: 0;
}
.game-menu-item {
    float: left;
    border-radius: 5px;
    max-width: 750px;
}
.game-menu-items {

}
.game-menu-item input[type=checkbox]:not(old),
.game-menu-item input[type=radio   ]:not(old) {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
}
.game-menu-item input[type=checkbox]:not(old) + label,
.game-menu-item input[type=radio   ]:not(old) + label {
    display: inline-block;
    padding: 128px 100px 0px 64px;
    margin: 7px;
    border-radius: 5px;
    /*background: red;*/
}
.game-menu-item input[type=checkbox]:not(old):checked + label {
    opacity: 0.5;
}
.game-menu-item input[type=radio]:not(old):checked + label {
    opacity: 0.5;
}
.game-menu-bet {
    margin: 5px 0 0 15px;
    padding: 0;
    font-size: 1.2em;
}

.game-menu-potential-gains-body {

}
.game-menu-potential-gains-body img {
    width: 90px;
    height: 72px;
    margin: 4px 0 2px 4px;
    border-radius: 2px;
}

.game-menu-submit {
    /*clear: both;*/
}
.game-menu-submit > input {
    width: 164px;
    border-radius: 5px;
    height: 30px;
    border: 0;
    background: linear-gradient(to bottom, #111 0, #333 100%);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.30);
    margin: 0 7px 7px 0;
    float: right;

}



