<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
   http://www.springframework.org/schema/mvc
         http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
         	   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	    http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd
	   ">

    <!-- <context:annotation-config />

     <context:component-scan base-package="controller" />
     <context:component-scan base-package="repository" />
     <context:component-scan base-package="service" />-->
    <context:component-scan base-package="beans"/>
    <context:component-scan base-package="beans.converter"/>
    <context:component-scan base-package="repository"/>
    <context:component-scan base-package="service"/>
    <context:annotation-config/>

    <mvc:resources mapping="/resources/**" location="/resources/"/>
    <mvc:annotation-driven/>
    <!--<bean
          class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" message="/WEB-INF/views/" />
        <property name="suffix" message=".xhtml" />
    </bean>-->


    <bean id="userRepository" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="repository.UserRepository"/>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>

    <bean id="balanceRepository" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="repository.BalanceRepository"/>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>

    <bean id="gameRepository" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="repository.GameRepository"/>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>

    <bean id="transactionRepository" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="repository.TransactionRepository"/>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>

    <bean id="botRepository" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="repository.BotRepository"/>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>

    <bean id="betRepository" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="repository.BetRepository"/>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
    <bean id="chanceRepository" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="repository.ChanceRepository"/>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>

    <bean id="itemRepository" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="repository.ItemRepository"/>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>

    <bean id="ticketRepository" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="repository.TicketRepository"/>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>

    <bean id="ticketMessageRepository" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="repository.TicketMessageRepository"/>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>


    <import resource="app-data.xml"/>
</beans>